@import "tailwindcss";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: okch(23.6% 0.108 253);
  --color-primary-container: okch(32.8% 0.085 258);
  --color-on-primary: okch(97.8% 0.002 60);
  --color-on-primary-container: okch(55.2% 0.062 265);
  --color-on-primary-fixed: okch(15% 0.055 255);
  --color-on-primary-fixed-variant: okch(28.4% 0.076 255);
  --color-primary-fixed: okch(75.2% 0.148 250);
  --color-primary-fixed-dim: okch(62.1% 0.119 252);

  --color-secondary: okch(47.2% 0.123 62);
  --color-secondary-container: okch(81.2% 0.089 78);
  --color-on-secondary: okch(97.8% 0.002 60);
  --color-on-secondary-container: okch(29% 0.085 68);
  --color-on-secondary-fixed: okch(15% 0.055 65);
  --color-on-secondary-fixed-variant: okch(35% 0.075 72);
  --color-secondary-fixed: okch(81.2% 0.089 78);
  --color-secondary-fixed-dim: okch(72.2% 0.068 75);

  --color-tertiary: okch(12.9% 0.008 0);
  --color-tertiary-container: okch(21.6% 0.012 45);
  --color-on-tertiary: okch(97.8% 0.002 60);
  --color-on-tertiary-container: okch(63.5% 0.008 50);
  --color-on-tertiary-fixed: okch(15% 0.055 40);
  --color-on-tertiary-fixed-variant: okch(27.5% 0.010 50);
  --color-tertiary-fixed: okch(88.8% 0.002 60);
  --color-tertiary-fixed-dim: okch(77.7% 0.002 60);

  --color-error: okch(40.3% 0.211 29.2);
  --color-error-container: okch(88.2% 0.082 25);
  --color-on-error: okch(97.8% 0.002 60);
  --color-on-error-container: okch(23.5% 0.145 18);

  --color-background: okch(97.8% 0.002 60);
  --color-surface: okch(97.8% 0.002 60);
  --color-surface-bright: okch(97.8% 0.002 60);
  --color-surface-dim: okch(85.7% 0.003 60);
  --color-surface-container-lowest: okch(97.8% 0.002 60);
  --color-surface-container-low: okch(96.6% 0.002 60);
  --color-surface-container: okch(94.6% 0.002 60);
  --color-surface-container-high: okch(92.6% 0.002 60);
  --color-surface-container-highest: okch(90.8% 0.002 60);
  --color-surface-tint: okch(23.6% 0.108 253);
  --color-surface-variant: okch(90.8% 0.002 60);
  --color-inverse-surface: okch(19% 0.008 60);
  --color-inverse-on-surface: okch(96% 0.002 60);
  --color-inverse-primary: okch(62.1% 0.119 252);

  --color-on-surface: okch(12.1% 0.012 60);
  --color-on-surface-variant: okch(48.8% 0.022 60);
  --color-on-background: okch(12.1% 0.012 60);

  --color-outline: okch(55.5% 0.030 60);
  --color-outline-variant: okch(79.5% 0.020 60);

  --font-headline: "Noto Serif", serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-on-surface font-body;
  }
}

@layer utilities {
  .editorial-shadow {
    box-shadow: 0 20px 40px -10px okch(23.6% 0.108 253 / 0.08);
  }
}

@supports (font-variation-settings: normal) {
  :root {
    --font-geist-sans: "Geist Variable";
  }
}
